<div class="contain">


<h1>Nos Modèles</h1>
<div class="explication"> 
    Besoin d’inspiration ou pas le temps créer le votre? pas d’inquiètude sur cette page vous pouvez retrouver les fanions déjà crées et reproductibles* !</div>

<div class="gallery">
    <div class="card">
    <img src="../../assets/img/ismael.jpg">
    <img src="../../assets/img/chambre1.jpg">
    <p>Ismael</p>
    </div>

    <div class="card">
        <img src="../../assets/img/sohan2.jpg">
        <img src="../../assets/img/sohan3.jpg">
        <p>sohan</p>
    </div>

    <div class="card">
        <img src="../../assets/img/aiden.jpg">
        <img src="../../assets/img/aiden2.jpg">
        <p>aiden</p>
    </div>

    <div class="card">
        <img src="../../assets/img/lou2.jpg">
        <img src="../../assets/img/lou.jpg">
        <p>lou</p>
    </div>

    <div class="card">
        <img src="../../assets/img/jules.jpg">
        <img src="../../assets/img/jules2.jpg">
        <p>Jules</p>
    </div>

    <div class="card">
        <img src="../../assets/img/roxane.jpg">
        <img src="../../assets/img/roxane2.jpg">
        <p>Roxane</p>
    </div>

    <div class="card">
        <img src="../../assets/img/automne.jpg">
        <img src="../../assets/img/automne2.jpg">
        <p>Automne</p>
    </div>

    <div class="card">
        <img src="../../assets/img/Charlie.jpg">
        <img src="../../assets/img/Charlie2.jpg">
        <p>Charlie</p>
    </div>

    <div class="card">
        <img src="../../assets/img/mariage.jpg">
        <img src="../../assets/img/mariage2.jpg">
        <p>Mariage</p>
    </div>
</div>

<p> *Sous reserve de fournitures disponibles, en cas de rupture je vous propose un autre tissus disponible.</p>
</div>